<form class="col s3" id="ctrl-form">
    <div class="row">
        <div class="col s12">
            <p>
                <label>
                    <input name="input-check" type="radio" value="Value 1" checked/>
                    <span>Value 1</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="input-check" type="radio" value="Value 2"/>
                    <span>Value 2</span>
                </label>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input value="100" id="input-number" type="number" min="5" max="500" class="validate">
            <label class="active" for="sliding-range">Input number</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select id="input-select">
                <option value=1 selected>Selection 1</option>
                <option value=2>Selection 2</option>
            </select>
            <label for="input-select">Input select</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input value="Some text" id="input-text" type="text">
            <label class="active" for="labels">Input text</label>
        </div>
    </div>
    <div class="row">
        <div class="file-field input-field col s12">
            <div class="btn">
                <span>File</span>
                <input type="file" id="input-file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload file">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="btn btn-block" id="btn-process">Process</a>
        </div>
    </div>
</form>
