<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Flask SciApp</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a href="#" class="brand-logo center">Flask SciApp</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/shutdown"><i class="material-icons prefix">power_settings_new</i></a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <!-- Controle pannel -->
                {% include "controls.html" %}
                <!-- Charts -->
                {% include "charts.html" %}
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/routines.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>

